DDStore/Connected Services/addProductServiceReference1/addProduct.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InsertProduct">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="productId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="productName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="category" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="price" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="quantity" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="imagePath" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertProductResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertProductResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCategoryName">
        <s:complexType />
      </s:element>
      <s:element name="getCategoryNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getCategoryNameResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InsertProductSoapIn">
    <wsdl:part name="parameters" element="tns:InsertProduct" />
  </wsdl:message>
  <wsdl:message name="InsertProductSoapOut">
    <wsdl:part name="parameters" element="tns:InsertProductResponse" />
  </wsdl:message>
  <wsdl:message name="getCategoryNameSoapIn">
    <wsdl:part name="parameters" element="tns:getCategoryName" />
  </wsdl:message>
  <wsdl:message name="getCategoryNameSoapOut">
    <wsdl:part name="parameters" element="tns:getCategoryNameResponse" />
  </wsdl:message>
  <wsdl:portType name="addProductSoap">
    <wsdl:operation name="InsertProduct">
      <wsdl:input message="tns:InsertProductSoapIn" />
      <wsdl:output message="tns:InsertProductSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getCategoryName">
      <wsdl:input message="tns:getCategoryNameSoapIn" />
      <wsdl:output message="tns:getCategoryNameSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="addProductSoap" type="tns:addProductSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertProduct">
      <soap:operation soapAction="http://tempuri.org/InsertProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCategoryName">
      <soap:operation soapAction="http://tempuri.org/getCategoryName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="addProductSoap12" type="tns:addProductSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertProduct">
      <soap12:operation soapAction="http://tempuri.org/InsertProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCategoryName">
      <soap12:operation soapAction="http://tempuri.org/getCategoryName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="addProduct">
    <wsdl:port name="addProductSoap" binding="tns:addProductSoap">
      <soap:address location="https://localhost:44393/addProduct.asmx" />
    </wsdl:port>
    <wsdl:port name="addProductSoap12" binding="tns:addProductSoap12">
      <soap12:address location="https://localhost:44393/addProduct.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>